@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
}
form{
    width: 70vw;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(15, 238, 219, 0.781);
}
legend{
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}
p{
    margin: 0;
    padding: 0;
}
.message{
    width: 100%;
}

.m1, .m2{
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 0 3px 10px rgba(0,  0, 0, .4);
}
.m1{
    width: 90%;
}
.m2{
    width: 70%;
}

@media (max-width: 400px){
    form{
        width: 80vw;
    }
    legend{
        font-size: 1.3rem;
    }
}