@media (max-width: 540px){
    .m1{
        text-align: center;
        width: 90%;
    }
}
.invisible{
    visibility: hidden;
}
.my-error{
    color: red;
    position: relative;
    bottom: -11px;
}

@media (max-height: 600px){
    .my-error{
        font-size: 0.8rem;
    }
}