<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/account/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/email_confirm__password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/password_reset_from_key.css' %}">
    <title>Reset Password</title>
</head>
<body onresize="kashti()">
    <form method="POST" action="{{ action_url }}" id="prf">
        <fieldset>
            <legend>&nbsp; The &#xb7; Quicky &#xb7; Science &nbsp;</legend>  
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <div class="message">
                    <p class="m1">The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                </div>
            {% else %}
                {% if form %}         
                    <div id="inp-pass">
                        <div class="message">
                            <small class="my-error invisible">**Minimum 8 Characters.</small>
                            <p class="m1">Password : <span><input type="password" name="password1" placeholder="New Password" required="" id="id_password1"></span></p>
                        </div>
                        <div class="message">
                            <small class="my-error invisible">**Passwords do Not match.</small>
                            <p class="m2">Again : <span><input type="password" name="password2" placeholder="Confirm Password" required="" id="id_password2"></span></p>
                        </div>
                    </div>
                    {% csrf_token %}
                    <div class="center">
                        <button id="btn">Submit</button>
                    </div>
                    <div id="kashti" class="message">
                    </div>
                {% else %}
                    <div class="message">
                        <p class="m1">Your password is now changed.</p>
                    </div>
                    <div id="kashti" class="message">
                    </div>
                {% endif %}
            {% endif %}
        </fieldset>
    </form>
    <script>
        // let prf = document.getElementById("prf")

        // prf.addEventListener("submit", (event)=>{
        //     event.preventDefault()

        //     if(!document.getElementById("id_password1").value.length < 8 && !document.getElementById("id_password2").value.length < 8){
        //         if(document.getElementById("id_password1").value == document.getElementById("id_password2").value){
        //             prf.submit()
        //         }
        //     }
        // })
    </script>
    <script src="{% static 'js/account/main.js' %}"></script>
    <script src="{% static 'js/account/password_reset_from_key.js' %}"></script>
</body>
</html>