<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/account/main.css' %}">
    <title>Confirm Email</title>
</head>
<body onresize="kashti()">
    <form>
        <fieldset>
            <legend>&nbsp; The &#xb7; Quicky &#xb7; Science &nbsp;</legend>
            <div class="message">
                <p class="m1">You will receive an email with instructions on how to confirm your email address within few minutes.</p>
            </div>
            <div class="message">
                <p class="m2">Don't forget to check Spam folder.</p>
            </div>
            <div id="kashti" class="message">

            </div>
        </fieldset>
    </form>

    <script src="{% static 'js/account/main.js' %}"></script>
</body>
</html>