{% extends 'quicky/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/quicky/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container py-3">
        <div class="row gap-3">
            <div class="col-lg py-2 px-3">
                <section class="d-flex align-items-center justify-content-between">
                    <div class="h1 d-inline text-primary your-cart">
                        Your Cart
                        <span class="h2 text-secondary your-cart-span">({{ orderItemsCount }})</span>
                    </div>
                    <div>
                      <a href="/cart" class="btn btn-light back-to-cart">
                        <i class="bi bi-chevron-left"></i><small id="back-to-cart"> Back To Cart</small>
                      </a>
                    </div>
                </section>
                
                <hr style="margin-top: 9px;">
                
                {% if orderItemsCount != 0 %}
                    <table class="table table-primary">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for orderItem in orderItems %}
                            <tr class="table-light">
                              <th scope="row">{{ forloop.counter }}</th>
                              <td data-orderItemId={{orderItem.id}}>{{ orderItem.note_name.name }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  {% else %}
                    <p class="h1 text-center my-5"><mark>Cart is Empty</mark></p>
                  {% endif %}
            </div>
            <div class="col-lg py-2">
                <div class="h1 checkout-heading">Checkout</div>
                
                <hr>

                <div class="bg-light p-3 mb-3 your-points-section" style="margin-left: 3px;">
                  <p>
                    <i class="bi bi-toggles2 fs-5 your-points-icon"></i>
                    <span class="h2 px-2">Your Points :</span>
                    <span id="user_points" class="h2 text-primary">{{ request.user.points }}</span>
                  </p>

                  <div class="form-check form-switch use-your-points">
                    <label class="form-check-label usePoints" for="flexSwitchCheckDefault">
                      <i class="bi bi-arrow-return-right"></i>
                      <span class="px-3">Use Your Points</span>
                    </label>
                    <input class="form-check-input float-end" type="checkbox" id="flexSwitchCheckDefault">
                    <i class="bi bi-question-circle-fill fs-6" id="more-info-question-icon"></i>
                  </div>
                </div>

                <div class="bg-light p-3 mb-2" style="margin-left: 3px;">
                  <p>
                    <i class="bi bi-wallet2 fs-5 your-points-icon"></i>
                    <span class="h2 px-2">Payable Amount :</span>
                    <span id="payable-amount" class="h2 text-primary">&#x20b9;&nbsp;{{checkout_total}}</span>
                  </p>

                  <form action="" method="POST">
                  {% csrf_token %}
                    <div class="use-your-points">
                      <label class="usePoints">
                        <i class="bi bi-arrow-return-right"></i>
                        <input type="text" id="hidden_price" name="final_pay_amount" value="{{checkout_total}}" hidden>
                        <button id="payBtn" class="btn btn-success px-3">Pay Amount</button>
                        <button id="payBtnF" class="d-none"></button>
                      </label>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Toast -->
    <div class="toast-container">
      <div id="toast-container" class="position-fixed bottom-0 end-0 p-md-3 toastu" style="z-index: 5">
      
      </div>
    </div>
    
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

  let final_pay_time = `{{final_pay_time}}`
  let orderItemsCount = `{{ orderItemsCount }}`
  let has_used_points = `{{has_used_points}}`

    var options = {
      "key": "rzp_test_G0OCZoTqqEwDLs", // Enter the Key ID generated from the Dashboard
      "name": "The Quicky Science",
      "description": "Complete Payment to access notes.",
      "image": "{% static 'images/favicon.png' %}",
      "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "callback_url": "/verify_razorpay_payment/",
      "prefill": {
          "name": "{{request.user.first_name}} {{request.user.last_name}}",
          "email": "{{request.user.email}}"
      },
      "theme": {
          "color": "#3399cc"
      }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('payBtnF').onclick = function(e){
      rzp1.open();
      e.preventDefault();
  }



</script>

<script defer src="{% static 'js/quicky/checkout.js' %}"></script>


{% endblock %}