{% extends 'quicky/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <h2 class="text-center mt-5 mb-3"><mark><u>Referral System</u></mark></h2>
    <p class="text-muted">
        If you send your referral link to your friend, and your firend signs up from that link and verify his account,
        then will get <b>10 Points</b>.<br>
        <h5>1 Point = 1 Rupee</h5><br>
        You will be able to use these points to get discount when you will purchase any notes from this website.

    </p>
</div>
{% endblock %}