@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.container{
    margin-top: 60px;
}

.col-lg{
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}
.checkout-heading{
    color: #1ca465;
}
#back-to-cart{
    position: relative;
    bottom: 1px;
}

.usePoints{
    font-size: 1.05rem;
    position:relative;
    bottom: 3px;
}
.use-your-points{
width: 210px;
padding: 0;
}
.use-your-points label span{
    padding-left: .7rem!important;
}
.use-your-points label button{
    margin-left: 10px;
}

#flexSwitchCheckDefault{
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
#flexSwitchCheckDefault:hover{
    cursor: pointer;
}

.your-points-icon{
    position: relative;
    bottom: 1px;
}

.bi-arrow-return-right::before{
    margin-left:2px;
}

.bi-question-circle-fill::before{
    position: relative;
    left: 60px;
    bottom: 3px;
}

#more-info-question-icon:hover{
    cursor: pointer;
}

#payable-amount{
    font-size: 3.1rem;
}

@media (max-width: 768px){
    .toastu{
        width: 80%;
        padding-right: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 576px){
    .container{
        width: 92%;
    }
    .usePoints{
        font-size: 1rem;
    }
    .use-your-points{
        width: 190px;
    }
    #flexSwitchCheckDefault{
        position: relative;
        top: -1px;
    }
    .your-points-icon{
        font-size: 1rem!important;
    }
    .use-your-points label span{
        padding-left: .5rem!important;
    }
    .use-your-points label button{
        margin-left: 7px;   
    }
    .bi-question-circle-fill::before{
        bottom: 2px;
    }
}

@media (max-width: 370px){
    #payable-amount{
        display: inline-block;
        margin-top: 10px;
        font-size: 2.1rem;
        margin-left: 27px;
    }
}

@media (max-width: 340px){
    .your-cart{
        margin-top: 5px;
    }
    .your-cart-span, .your-cart{
        font-size: 1.5rem;
    }
    .back-to-cart{
        font-size: .9rem;
    }
}